// Global panel button styles
%panelbutton {
  color: transparentize($panel_fg, 0.1);
  border-radius: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    color: $panel_fg;
    background-color: lighten($panel_bg, 4%);
  }
  &:active, &:checked {
    color: $panel_fg;
    background-color: lighten($panel_bg, 8%);
    &:hover { background-color: lighten($panel_bg, 9%); }
  }
}

/*
  XFCE GTK3 Styling
  Note: If you wish to edit the theme for XFCE 4.12 or earlier you do it in the GTK-2.0 folder.
*/

CatfishWindow .pane-separator {
  background-color: darken($base_color, 10%);
}

XfceHeading,
.XfceHeading {
  margin: 0;
  padding: 0;
  border-width: 0;
  background-image: none;
  background-color: $bg_color;
  color: $text_color;
  text-shadow: none;
}

.budgie-panel,
.xfce4-panel {
  background-color: $panel_bg;
  color: $panel_fg;
  font-style: normal;
  
  text-shadow: none;
  -gtk-icon-shadow: none;
  
  button { @extend %panelbutton; }
}

.xfce4-panel frame > border {
  border-style: none;
}

.xfce4-panel menu {
  -gtk-icon-effect: none;
  text-shadow: none;
  
  // plano-theme #25
  button {
    @include button(normal);
    &:hover { @include button(hover); }
    &:active, &:checked { @include button(active); }
    &:active:hover, &:checked:hover { @include button(hoveractive); }
    &.default { @include button(focus); }
    &:disabled { @include button(insensitive); }
  }
}

// Xfwm4's alt-tab dialog, aka "tabwin"
#xfwm-tabwin {
  padding: 12px;
  background-image: none;
  background-color: transparentize(black, 0.2);
  color: shade($selected_fg_color, 0.65);
  text-shadow: 0px 1px transparentize(black, 0.2);
  border-radius: 4px;
  // Set the application icon- and preview-size to 64px
  -XfwmTabwinWidget-icon-size: 64px;
  -XfwmTabwinWidget-preview-size: 64px;

  button {
    background-image: none;
    color: $selected_fg_color;
    font-weight: bold;
    text-shadow: 0px 1px transparentize(black, 0.2);
    border: none;
    border-radius: 2px;
    box-shadow: none;

    &:active, &:checked, &:active:hover, &:checked:hover {
      background-color: $selected_bg_color;
    }
    &:hover {
      background-color: $selected_bg_color;
    }
  }
}

// Temporary fixes for certain XFCE applets using GTK3
#pulseaudio-button, #indicator-button {
  @extend %panelbutton;
}

/*
  Mate/Gnome Flashback Panel
*/
.gnome-panel-menu-bar,
.mate-panel-menu-bar {

  &, menubar { background-color: $panel_bg; }

  menubar,
  #PanelApplet label,
  #PanelApplet image { color: $panel_fg; }

  // Panel buttons
  button:not(#tasklist-button) {
    @extend %panelbutton;
  }

  button,
  #tasklist-button {
    label, image { color: inherit; }
  }

  .wnck-pager {
    color: mix($panel_fg, black, 50%);
    background-color: darken($panel_bg, 10%);

    &:hover {
      background-color: lighten($panel_bg, 5%);
    }

    &:selected {
      color: lighten($selected_bg_color, 20%);
      background-color: $selected_bg_color;
    }
  }

  na-tray-applet {
    -NaTrayApplet-icon-padding: 0;
    -NaTrayApplet-icon-size: 16px;
  }
}

// Application specific fixes should be avoided as much as possible! In some cases they are unavoidable.

// Firefox
menu,
.menu,
.context-menu {
  .separator:not(label),
  .csd & .separator:not(label) { color: darken($menu_color, 5%); }
}

/* Caja */
.caja-desktop { @extend .nautilus-desktop.nautilus-canvas-item; }
.caja-notebook { border-top: 1px solid $borders_color; }
.caja-side-pane .frame { border-width: 1px 0 0; }
.caja-notebook .frame { border-width: 0 0 1px; }

// Desktop icons FIXME: Remove legacy nautilus stuff after Ubuntu 18.04 LTS ends support
.nautilus-desktop.nautilus-canvas-item, .nemo-desktop.nemo-canvas-item {
  color: white;
  text-shadow: 1px 1px 2px transparentize(black, 0.2);
}

.nautilus-window {
  // Workaround for https://bugzilla.gnome.org/show_bug.cgi?id=724096
  searchbar { border-top: 1px solid $borders_color; }
  .searchbar-container { margin-top: -1px; }
  
  // Without this nautilus iconview grabs the bg_color
  notebook,
  notebook > stack:not(:only-child) searchbar { @extend .view; }

  // Remove the separator in the new 3.30 nautilus path-bar
  .path-bar .dim-label { color: transparent; }
}

.disk-space-display {
  border-style: solid;
  border-width: 2px;

  &.unknown {
    background-color: darken($bg_color, 20%);
    border-color: darken($bg_color, 30%);
  }
  &.used {
    background-color: $selected_bg_color;
    border-color: darken($selected_bg_color, 20%);
  }
  &.free {
    background-color: $bg_color;
    border-color: darken($bg_color, 20%);
  }
}

// EoG fix - https://github.com/lassekongo83/zuki-themes/issues/113
button:last-child {
  &.osd.image-button { border-right-style: none; }
}

// Evolution - https://github.com/lassekongo83/zuki-themes/issues/119
.table-header {
  @extend %column_header_button;
  padding: 4px 0 4px 0;
  min-height: 24px;
}

.switcher-visible *> .frame { border-width: 1px 0 1px 0; }

// Chromium - https://github.com/lassekongo83/zuki-themes/issues/127
window.background.chromium {
  background-color: $bg_color;
  button { border-color: $borders_color; } // tab borders
}

// Thunar
.thunar {
  .standard-view { border-width: 0; }
  toolbar { border-bottom: 1px solid $borders_color; }
}

// Nemo
.nemo-window {
  // Rename entry
  .nemo-window-pane widget.entry {
    border: 1px solid;
    border-radius: 3px;

    @include entry(focus);

    &:selected { &:focus, & { @extend %selected_items; }}
  }
}
