style "check-radio"
{
	engine "pixmap"
	{

		# Check Buttons

		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 					= NORMAL
			shadow          		= OUT
			overlay_file    		= "Check-Radio/checkbox-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 					= PRELIGHT
			shadow          		= OUT
			overlay_file    		= "Check-Radio/checkbox-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 					= ACTIVE
			shadow          		= OUT
			overlay_file    		= "Check-Radio/checkbox-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 					= SELECTED
			shadow          		= OUT
			overlay_file    		= "Check-Radio/checkbox-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 					= INSENSITIVE
			shadow          		= OUT
			overlay_file    		= "Check-Radio/checkbox-unchecked-insensitive.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state	 				= NORMAL
			shadow          		= IN
			overlay_file    		= "Check-Radio/checkbox-checked.png"
			overlay_stretch	 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 					= PRELIGHT
			shadow          		= IN
			overlay_file    		= "Check-Radio/checkbox-checked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 		        	= ACTIVE
			shadow          		= IN
			overlay_file    		= "Check-Radio/checkbox-checked.png"
			overlay_stretch 		= FALSE
        }
		image
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 		        	= SELECTED
			shadow          		= IN
			overlay_file    		= "Check-Radio/checkbox-checked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= CHECK
			recolorable     		= TRUE
			state 		       		= INSENSITIVE
			shadow          		= IN
			overlay_file			= "Check-Radio/checkbox-checked-insensitive.png"
			overlay_stretch 		= FALSE
		}

		# Radio Buttons

		image 
		{
			function        		= OPTION
			state 					= NORMAL
			shadow          		= OUT
			overlay_file    		= "Check-Radio/radio-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= OPTION
			state 					= PRELIGHT
			shadow          		= OUT
			overlay_file    		= "Check-Radio/radio-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= OPTION
			state 					= ACTIVE
			shadow          		= OUT
			overlay_file    		= "Check-Radio/radio-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image
		{
			function        		= OPTION
			state 					= SELECTED
			shadow          		= OUT
			overlay_file    		= "Check-Radio/radio-unchecked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= OPTION
			state 					= INSENSITIVE
			shadow         			= OUT
			overlay_file    		= "Check-Radio/radio-unchecked-insensitive.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= OPTION
			state 					= NORMAL
			shadow          		= IN
			overlay_file    		= "Check-Radio/radio-checked.png"
			overlay_stretch 		= FALSE
        }
		image 
		{
			function        		= OPTION
			state					= PRELIGHT
			shadow          		= IN
			overlay_file    		= "Check-Radio/radio-checked.png"
			overlay_stretch 		= FALSE
		}
		image 
		{
			function        		= OPTION
			state					= ACTIVE
			shadow          		= IN
			overlay_file    		= "Check-Radio/radio-checked.png"
			overlay_stretch	 		= FALSE
		}
		image
		{
			function        		= OPTION
			state					= SELECTED
			shadow          		= IN
			overlay_file    		= "Check-Radio/radio-checked.png"
			overlay_stretch	 		= FALSE
		}
		image 
		{
			function        		= OPTION
			state 					= INSENSITIVE
			shadow          		= IN
			overlay_file    		= "Check-Radio/radio-checked-insensitive.png"
			overlay_stretch 		= FALSE
		}
	}
}

widget_class "*<GtkRadioButton>*"		style "check-radio"
widget_class "*<GtkCheckButton>*"		style "check-radio"
