// Global panel button styles
%panelbutton {
  color: transparentize($dark_fg_color, 0.1);
  border-radius: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  transition-duration: $shortest_duration;

  &:hover {
    color: $dark_fg_color;
    background-color: transparentize(white, 0.9);
  }
  &:active, &:checked {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    &:hover { background-color: darken($selected_bg_color, 4%); }
  }

  // https://github.com/lassekongo83/zuki-themes/issues/144
  &:hover, &:active, &:checked { background-image: none; }
}

//
// XFCE GTK3 Styling
//
XfceHeading,
.XfceHeading {
  margin: 0;
  padding: 0;
  border-width: 0;
  background-image: none;
  background-color: $bg_color;
  color: $text_color;
  text-shadow: none;
}

.budgie-panel,
.xfce4-panel {
  background-color: $dark_borders_color;
  color: $dark_fg_color;
  font-style: normal;
  
  text-shadow: none;
  -gtk-icon-shadow: none;
  
  button { @extend %panelbutton; }
}

.xfce4-panel frame > border {
  border-style: none;
}

.xfce4-panel menu {
  -gtk-icon-effect: none;
  text-shadow: none;
  
  // plano-theme #25
  button {
    @include button(normal);
    &:hover { @include button(hover); }
    &:active, &:checked { @include button(active); }
    &:active:hover, &:checked:hover { @include button(hoveractive); }
    &.default { @include button(focus); }
    &:disabled { @include button(insensitive); }
  }
}

#XfceNotifyWindow {
  @extend %osd;
  border-radius: $window-radius;

  buttonbox { padding: 0; }

  button {
    @include button(osd);
    &:hover, &:focus { @include button(osd-hover); }
    &:active, &:checked { @include button(osd-active); }
    &:active:hover, &:checked:hover { @include button(osd-active); }
    &.default { @include button(osd-hover); }
    &:disabled { @include button(osd-insensitive); }

    border-radius: $button-radius;
    text-shadow: none;
  }

  entry {
    @include entry(osd);
    border-radius: $button-radius;
    text-shadow: none;
  }

  label#summary {
    font-weight: bold;
  }

  progressbar {
    min-height: 6px;
    border-radius: $button-radius;
    progress {
      background-image: none;
      background-color: $selected_bg_color;
      border: none;
      box-shadow: none;
    }
    trough {
      background-color: lighten($dark_bg_color, 10%);
      border: none;
      border-radius: $button-radius;
      padding: 1px 0;
    }
  }
}

// Xfwm4's alt-tab dialog, aka "tabwin"
#xfwm-tabwin {
  padding: 12px;
  background-image: none;
  background-color: transparentize(black, 0.2);
  color: shade($selected_fg_color, 0.65);
  text-shadow: 0px 1px transparentize(black, 0.2);
  border-radius: 12px;
  // Set the application icon- and preview-size to 64px
  -XfwmTabwinWidget-icon-size: 64px;
  -XfwmTabwinWidget-preview-size: 64px;

  button {
    background-image: none;
    color: $selected_fg_color;
    font-weight: bold;
    text-shadow: 0px 1px transparentize(black, 0.2);
    border: none;
    border-radius: 6px;
    box-shadow: none;

    &:active, &:checked, &:active:hover, &:checked:hover {
      background-color: $selected_bg_color;
    }
    &:hover {
      background-color: $selected_bg_color;
      transition-duration: $shortest_duration;
    }
  }
}

// Temporary fixes for certain XFCE applets using GTK3
#pulseaudio-button, #indicator-button {
  @extend %panelbutton;
}

//
// Mate/Gnome Flashback Panel
//
.gnome-panel-menu-bar,
.mate-panel-menu-bar {

  &, menubar { background-color: $dark_bg_color; }

  menubar,
  #PanelApplet label,
  #PanelApplet image { color: $dark_fg_color; }

  // Panel buttons
  button:not(#tasklist-button) {
    @extend %panelbutton;
  }

  button,
  #tasklist-button {
    label, image { color: inherit; }
  }

  .wnck-pager {
    color: mix($dark_fg_color, black, 50%);
    background-color: darken($dark_bg_color, 10%);

    &:hover {
      background-color: lighten($dark_bg_color, 5%);
    }

    &:selected {
      color: lighten($selected_bg_color, 20%);
      background-color: $selected_bg_color;
    }
  }

  na-tray-applet {
    -NaTrayApplet-icon-padding: 0;
    -NaTrayApplet-icon-size: 16px;
  }
}

// Application specific fixes should be avoided as much as possible! In some cases they are unavoidable.

// Caja
.caja-desktop { @extend .nautilus-desktop.nautilus-canvas-item; }
.caja-notebook { border-top: 1px solid $borders_color; }
.caja-side-pane .frame { border-width: 1px 0 0; }
.caja-notebook .frame { border-width: 0 0 1px; }

// Desktop icons FIXME: Remove legacy nautilus stuff after Ubuntu 18.04 LTS ends support
.nautilus-desktop.nautilus-canvas-item, .nemo-desktop.nemo-canvas-item {
  color: white;
  text-shadow: 1px 1px 2px transparentize(black, 0.2);
}

.nautilus-window {
  // Workaround for https://bugzilla.gnome.org/show_bug.cgi?id=724096
  searchbar { border-top: 1px solid $borders_color; }
  .searchbar-container { margin-top: -1px; }

  // Without this nautilus iconview grabs the bg_color
  notebook,
  notebook > stack:not(:only-child) searchbar { @extend %view; }
}

.disk-space-display {
  border-style: solid;
  border-width: 2px;

  &.unknown {
    background-color: darken($bg_color, 20%);
    border-color: darken($bg_color, 30%);
  }
  &.used {
    background-color: $selected_bg_color;
    border-color: darken($selected_bg_color, 20%);
  }
  &.free {
    background-color: $bg_color;
    border-color: darken($bg_color, 20%);
  }
}

// Evolution - https://github.com/lassekongo83/zuki-themes/issues/119
.table-header {
  @extend %column_header_button;
  padding: 4px 0 4px 0;
  min-height: 24px;
}

// Chromium
window.background.chromium {
  background-color: $bg_color;

  button { border-color: $borders_color; } // tab borders

  // https://github.com/lassekongo83/amber-theme/issues/5
  menubar { color: if($dark_header=='true', $dark_fg_color, $fg_color); }
}

// Thunar
.thunar {
  .standard-view { border-width: 0; }
  .sidebar .view {
    background-color: $sidebar_bg_color;
    &:hover { background-color: $base_hover_color; }
    &:selected { background-color: $selected_bg_color; }
  }

  toolbar {
    border-bottom: 1px solid $borders_color;

    entry { margin: 2px; }
  }

  // https://github.com/lassekongo83/plano-theme/issues/37
  .shortcuts-pane { border-top: 0; }
}

// Nemo
.nemo-window {
  // Rename entry
  .nemo-window-pane widget.entry {
    border: 1px solid;
    border-radius: $button-radius;

    @include entry(focus);

    &:selected { &:focus, & { @extend %selected_items; }}
  }
}

// Gedit
.gedit-search-slider {
  button, button:hover {
    box-shadow: none;
    border: 1px solid $borders_color;
    &:last-child { border-left: 0; }
  }
}

// Firefox
#MozillaGtkWidget.background {
  &.default-decoration { button.titlebutton { padding: 0 0; } }

  &.default-decoration,
  headerbar.titlebar {
    button.titlebutton { @extend %titlebutton; }
  }

  > menu > menuitem { border-radius: 0; } // Removed rounded menu corners
  > menu, .menu, .context-menu {
      .separator:not(label),
      .csd & .separator:not(label) { color: darken($dark_bg_color, 5%); }
    }

  // box-shadows doesn't work, so a border color is needed on the entries and buttons instead
  entry, button {
    border-color: $borders_color;
    &:focus { border-color: $selected_bg_color; }
  }
}

normal-button {
  @include button(normal);
  &:hover { @include button(hover); }
  &:active { @include button(active) }
  &:disabled { @include button(insensitive); }
}

// Tweak tool
list.tweak-categories separator {
  // hide sidebar separators
  // make the sidebar look like a normal sidebar
  background: transparent;
}

.tweak-categories {
  background-color: $secondary_bg_color;
  border-color: $secondary_borders_color;
}
