style "check-radio"
{
    bg[NORMAL]      = shade (1.06, @bg_color)
    bg[PRELIGHT]    = shade (1.06, @bg_color)
    bg[ACTIVE]      = shade (0.85, @bg_color)
    bg[SELECTED]    = @base_color
    bg[INSENSITIVE] = shade (0.95, @bg_color)
    text[PRELIGHT]  = shade (0.8, @selected_bg_color)
    fg[ACTIVE]      = @fg_color
    fg[INSENSITIVE] = mix (0.4, @fg_color, @bg_color)
    
    engine "pixmap"
    {

        # Check Buttons

        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = NORMAL
            shadow          = OUT
            overlay_file    = "assets/checkbox-unchecked.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = PRELIGHT
            shadow          = OUT
            overlay_file    = "assets/checkbox-unchecked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = ACTIVE
            shadow          = OUT
            overlay_file    = "assets/checkbox-unchecked-hover.png"
            overlay_stretch = FALSE
        }
        image
        {
            function        = CHECK
            recolorable     = TRUE
            state           = SELECTED
            shadow          = OUT
            overlay_file    = "assets/checkbox-unchecked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = INSENSITIVE
            shadow          = OUT
            overlay_file    = "assets/checkbox-unchecked-insensitive.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = NORMAL
            shadow          = IN
            overlay_file    = "assets/checkbox-checked.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = PRELIGHT
            shadow          = IN
            overlay_file    = "assets/checkbox-checked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = ACTIVE
            shadow          = IN
            overlay_file    = "assets/checkbox-checked-hover.png"
            overlay_stretch = FALSE
        }
        image
        {
            function        = CHECK
            recolorable     = TRUE
            state           = SELECTED
            shadow          = IN
            overlay_file    = "assets/checkbox-checked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = CHECK
            recolorable     = TRUE
            state           = INSENSITIVE
            shadow          = IN
            overlay_file    = "assets/checkbox-checked-insensitive.png"
            overlay_stretch = FALSE
        }

        # Radio Buttons

        image 
        {
            function        = OPTION
            state           = NORMAL
            shadow          = OUT
            overlay_file    = "assets/radio-unchecked.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = PRELIGHT
            shadow          = OUT
            overlay_file    = "assets/radio-unchecked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = ACTIVE
            shadow          = OUT
            overlay_file    = "assets/radio-unchecked-hover.png"
            overlay_stretch = FALSE
        }
        image
        {
            function        = OPTION
            state           = SELECTED
            shadow          = OUT
            overlay_file    = "assets/radio-unchecked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = INSENSITIVE
            shadow          = OUT
            overlay_file    = "assets/radio-unchecked-insensitive.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = NORMAL
            shadow          = IN
            overlay_file    = "assets/radio-checked.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = PRELIGHT
            shadow          = IN
            overlay_file    = "assets/radio-checked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = ACTIVE
            shadow          = IN
            overlay_file    = "assets/radio-checked-hover.png"
            overlay_stretch = FALSE
        }
        image
        {
            function        = OPTION
            state           = SELECTED
            shadow          = IN
            overlay_file    = "assets/radio-checked-hover.png"
            overlay_stretch = FALSE
        }
        image 
        {
            function        = OPTION
            state           = INSENSITIVE
            shadow          = IN
            overlay_file    = "assets/radio-checked-insensitive.png"
            overlay_stretch = FALSE
        }
    }
}

widget_class "*<GtkRadioButton>*" style "check-radio"
widget_class "*<GtkCheckButton>*" style "check-radio"
