# ========================
# THUNAR SPECIFIC SETTINGS
# ========================

style "thunar-location" {
    ThunarLocationButtons::spacing = 0
}

style "thunar-handle" {
    GtkPaned::handle-size = 1
    engine "pixmap" {
        image { 
            function = HANDLE 
            file = "assets/handle.png" 
            stretch = TRUE 
            border = {1,1,1,1} 
        }
    }
}

style "thunar-statusbar" {
    bg[NORMAL] = @base_color

    engine "pixmap"    {
        image {
            function        = RESIZE_GRIP
            recolorable     = FALSE
            detail          = "statusbar"
            overlay_file    = "assets/resize-grip.png"
            overlay_border  = {0,0,0,0}
            overlay_stretch = FALSE
        }
    }
}

style "thunar-sidepane" {
    base[NORMAL]      = mix(0.5, @bg_color, @base_color)
    base[INSENSITIVE] = mix(0.5, @bg_color, @base_color)
    bg[NORMAL]        = mix(0.5, @bg_color, @base_color)
    
    GtkTreeView::odd_row_color  = mix(0.5, @bg_color, @base_color)
    GtkTreeView::even_row_color = mix(0.5, @bg_color, @base_color)

    engine "murrine" {}
}

style "thunar-frame" {
    xthickness = 0
    ythickness = 0
}

widget_class "*ThunarWindow*.<GtkScrolledWindow>" style "thunar-frame"
widget_class "*ThunarLocationButtons*"            style "thunar-location"
widget_class "*ThunarShortcutsView*"              style "thunar-sidepane"
widget_class "*ThunarTreeView*"                   style "thunar-sidepane"
widget_class "*ThunarSidePane*"                   style "thunar-sidepane"
widget_class "*ThunarWindow*.<GtkHPaned>"         style "thunar-handle"
widget_class "*ThunarStatusbar*"                  style "thunar-statusbar"
