.titlebar .right .titlebutton:nth-last-child(3),
.titlebar .right:dir(rtl) .titlebutton:nth-child(3),
.titlebar .left .titlebutton:nth-child(3),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3),
.titlebar .right .titlebutton:nth-last-child(2),
.titlebar .right:dir(rtl) .titlebutton:nth-child(2),
.titlebar .left .titlebutton:nth-child(2),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2),
.titlebar .right .titlebutton:last-child,
.titlebar .right:dir(rtl) .titlebutton:first-child,
.titlebar .left .titlebutton:first-child,
.titlebar .left:dir(rtl) .titlebutton:last-child {
	color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 19px 19px;
}

/* Set correct layout with 
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for
 	buttons on the right or
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,maximize,minimize:'>}"
	for buttons on the left */

/* minimize */

.titlebar .right .titlebutton:nth-last-child(3),
.titlebar .right:dir(rtl) .titlebutton:nth-child(3),
.titlebar .left .titlebutton:nth-child(3),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3) {
	background-image: url('window-controls/minimize_focused_normal.png');
}

.titlebar .right .titlebutton:nth-last-child(3):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):hover,
.titlebar .left .titlebutton:nth-child(3):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):hover {
	background-image: url('window-controls/minimize_focused_prelight.png');
}

.titlebar .right .titlebutton:nth-last-child(3):active,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):active,
.titlebar .left .titlebutton:nth-child(3):active,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):active {
	background-image: url('window-controls/minimize_focused_pressed.png');
}

.titlebar .right .titlebutton:nth-last-child(3):backdrop,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):backdrop,
.titlebar .left .titlebutton:nth-child(3):backdrop,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):backdrop {
	background-image: url('window-controls/minimize_unfocused.png');
}

.titlebar .right .titlebutton:nth-last-child(3):backdrop:hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):backdrop:hover,
.titlebar .left .titlebutton:nth-child(3):backdrop:hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):backdrop:hover {
	background-image: url('window-controls/minimize_unfocused_prelight.png');
}

/* maximize */
.titlebar .right .titlebutton:nth-last-child(2),
.titlebar .right:dir(rtl) .titlebutton:nth-child(2),
.titlebar .left .titlebutton:nth-child(2),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2) {
	background-image: url('window-controls/maximize_focused_normal.png');
}

.titlebar .right .titlebutton:nth-last-child(2):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):hover,
.titlebar .left .titlebutton:nth-child(2):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):hover {
	background-image: url('window-controls/maximize_focused_prelight.png');
}

.titlebar .right .titlebutton:nth-last-child(2):active,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):active,
.titlebar .left .titlebutton:nth-child(2):active,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):active {
	background-image: url('window-controls/maximize_focused_pressed.png');
}

.titlebar .right .titlebutton:nth-last-child(2):backdrop,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):backdrop,
.titlebar .left .titlebutton:nth-child(2):backdrop,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):backdrop {
	background-image: url('window-controls/maximize_unfocused.png');
}

.titlebar .right .titlebutton:nth-last-child(2):backdrop:hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):backdrop:hover,
.titlebar .left .titlebutton:nth-child(2):backdrop:hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):backdrop:hover {
	background-image: url('window-controls/maximize_unfocused_prelight.png');
}

/* close */
.titlebar .right .titlebutton:last-child,
.titlebar .right:dir(rtl) .titlebutton:first-child,
.titlebar .left .titlebutton:first-child,
.titlebar .left:dir(rtl) .titlebutton:last-child {
	background-image: url('window-controls/close_focused_normal.png');
	/*padding: 2px 6px 3px 3px;*/ /* FIXME: Uncomment this shit when using the Faenza icon theme and maybe some other icon themes */
}

.titlebar .right .titlebutton:last-child:hover,
.titlebar .right:dir(rtl) .titlebutton:first-child:hover,
.titlebar .left .titlebutton:first-child:hover,
.titlebar .left:dir(rtl) .titlebutton:last-child:hover {
	background-image: url('window-controls/close_focused_prelight.png');
}

.titlebar .right .titlebutton:last-child:active,
.titlebar .right:dir(rtl) .titlebutton:first-child:active,
.titlebar .left .titlebutton:first-child:active,
.titlebar .left:dir(rtl) .titlebutton:last-child:active {
	background-image: url('window-controls/close_focused_pressed.png');
}

.titlebar .right .titlebutton:last-child:backdrop,
.titlebar .right:dir(rtl) .titlebutton:first-child:backdrop,
.titlebar .left .titlebutton:first-child:backdrop,
.titlebar .left:dir(rtl) .titlebutton:last-child:backdrop {
	background-image: url('window-controls/close_unfocused.png');
}

.titlebar .right .titlebutton:last-child:backdrop:hover,
.titlebar .right:dir(rtl) .titlebutton:first-child:backdrop:hover,
.titlebar .left .titlebutton:first-child:backdrop:hover,
.titlebar .left:dir(rtl) .titlebutton:last-child:backdrop:hover {
	background-image: url('window-controls/close_unfocused_prelight.png');
}

/* Menu button when fallback kicks in (XFCE, Cinnamon etc.) */

.titlebar .button.menu-button.titlebutton {
	background-image: url('window-controls/menu.png');
}

.titlebar .button.menu-button.titlebutton:hover {
	background-image: url('window-controls/menu_prelight.png');
}

.titlebar .button.menu-button.titlebutton:active {
	background-image: url('window-controls/menu.png');
}
